[defaults]
inventory = inventory/hosts.ini
remote_user = andrew

stdout_callback = default
result_format = yaml
bin_ansible_callbacks = True
display_skipped_hosts = False
display_ok_hosts = True
force_color = True
nocows = True

log_path = .ansible/logs/ansible.log

retry_files_enabled = False
host_key_checking = False
deprecation_warnings = False
interpreter_python = auto_silent

forks = 20
timeout = 30
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible/facts
fact_caching_timeout = 86400

roles_path = ansible/roles
collections_path = ansible/collections

callbacks_enabled = timer, profile_tasks

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o ServerAliveCountMax=3
pipelining = True
control_path = ~/.ansible/cp/%%h-%%p-%%r
